* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body {
    padding: 20px;
    background-color: lightgray;
}

.container {
    max-width: 500px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    padding: 30px;
    justify-self: center;
    margin-top: 50px;
}

.weather-text {
    text-align: center;
    margin-bottom: 40px;
    color: orange;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;

}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: orange;
}